:root {
    --primary: #2ecc71;
    --secondary: #16a085;
    --tertiary: #f1c40f;
    --gold: 
    --border-radius: .3rem;
  }

  * {
    box-sizing: border-box;
  }

  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--tertiary);
    line-height: 1.5;
    font-size: 16px;
  }

  h1, p {
    font-weight: 700;
    margin: 20px;
    color: var(--tertiary);
    line-height: 1.25;
  }

  .hero {
    padding: 1% 2%;
    background-color: var(--secondary);
    color: var(--primary);    
  }

  .img {
    padding: 0 10px 10px;
    margin-left: 300px; 
    margin-bottom: -20px;
    margin-top: -150px;
  }


  #feedDiv {
      padding: 2% 4%;
      color: green;
  }

  main {
    margin: 20px 0 auto 30px;
    width: 30%;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--tertiary);
  line-height: 1.25;
}

.app-title {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--tertiary);
  padding: 0 20px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--tertiary);
}

/* CARDS */
.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--tertiary);
  border-radius: var(--border-radius);
}

.card-header {
  color: var(--primary);
  /* background-color: var(--gold); <-- card header color undecided for now */  
  padding: 2.5%;
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.card-body {
  padding: 2.5%;
}


/* form */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--primary);
  border-radius: var(--border-radius);
}

