:root {
    --primary: #000000;
    --secondary: #ffffff;
    --tertiary: #b09451;
    --border-radius: 10px;
  }

  * {
    box-sizing: border-box;
  }

  
  body {
    background-color: var(--primary);
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--tertiary);
  }

  .search h1 {
    font-size: medium;
  }
  .search label {
    font-size: small;
  }
  .search input[type="text"] {
    font-size: 10px;
  }

  .history h2 {
    font-size: small ;
  }

  
  h1, p {
    margin: 20px;
    color: var(--tertiary);
    line-height: 1.25;
  }

  .hero {
    padding: 0 0 0 0;
    background-color: var(--secondary);
    color: var(--primary); 
    border-radius: 15px;   
  }

.btn {
  margin:auto;
  width: 100%;
}

.stock-btn{
  margin-top: 10px;
}
#clear-history {
  margin-top: 10px;
  background-color: grey;
}

  /* -------------------------LOGO / IMAGE -----------------------------------*/

  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }



h6 {   /* ---------------------------- H6 is Container 2 : News About Stocks and Crypto ---------------------------------- */
  

  color: var(--tertiary);
  font-size: 10px;
}


/* ------------------------------------------ CARDS-------------------------------------------------- */
.card {
  border: 3px solid var(--tertiary);
  border-radius: 15px;
}
.horizontal {
  justify-content: center;
}
.coin-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.coin-symbol img {
  padding-left: 10px;
}



/* ------------------- INPUT after Stock/Crypto Name --------------------- */ 

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 5px;
  border: 2px solid var(--primary);
  border-radius: var(--border-radius);
}




.hide {
  display: none;
}

